@font-face {
  font-family: yekan;
  src: url('../assets/fonts/Yekan.ttf');
}
body{
  direction: rtl;
  font-family: yekan;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.bg{
  background : url('../assets/images/mainTop/bg.png') no-repeat 0% 10%;
  background-size:cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}