@font-face {
  font-family: yekan;
  src: url('../assets/fonts/Yekan.ttf');
}
body{
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: yekan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.bg{
  width: 100%;
  background : url('../assets/images/mainTop/bg.png') no-repeat 100% 20%;
  background-size:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}